#firstdiv {
	font-size: 16px;
	background-color: gray;
}
#seconddiv {
	font-size: 20px;
	background-color: purple;
}
#thirddiv {
	font-size: 24px;
	background-color: green;
}

.hover:hover {
	font-weight: bold;
}